# Data Science Tools and Ecosystem

## Author:
Joe

# In this notebook, Data Science Tools and Ecosystem are summerized.

# Objectives:
* Languages
* Libraries
* Tools

# Some of the popular languages that Data Scientists use are:
1. English
2. Spanish
3. German

# Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPly
3. Pandas

| Data Science Tools |
|---------|
|Tableau|
|BigML|
|Excel|

### Below are a few examples of evaluating arithmetic expressions in Python

In [28]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
# This will convert 200 minutes into hours by diving by 60
200/60

3.3333333333333335